table {
    border: 2px outset grey;
    border-spacing: 0;
    width: 100%;
}

caption {
    display: table-caption;
    text-align: center;
  }

td {
    border: thin inset;
    text-align: center;
    font-weight: bold;
}

.blue {
    text-align: left;
    background-color: cyan;
}

.pink {
    text-align: right;
    background-color: fuchsia;
}

.green {
    background-color: lightgreen;
}

.red {
    color: red;
}